<%= form_for [@student, @evaluation] do |f| %>


      <div class="row text-center">

        <div class="form-group">
            <p><label>Select day:</label></p>
            <%= f.date_select :day, class: "form-control" %>

            <p>Select the color code </p>

            <div>
                <%= f.radio_button :color_code, "green" %>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(0,255,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <br />


                <%= f.radio_button :color_code, "yellow" %>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(255,69,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <br />

                <%= f.radio_button :color_code, "red" %>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(255,0,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <br />

            </div>

            <label>Remarks</label>
            <%= f.text_area :remarks, placeholder: "Add Remarks" %>


        </div>

        <div class="actions">
         <%= f.submit "Update", class: "btn btn-success" %>
       </div>

       <% end %>

     </div>
