<div class = "row">

  <div class="panel panel-warning col-md-6 col-md-offset-3">

      <div class="panel-heading text-center">
        <h3>Students</h3>
      </div>


      <% green_code = 0 %>
      <% yellow_code = 0 %>
      <% red_code = 0 %>
      <% student_count =0 %>
      <% @batch.students.each do |student| %>
      <% student.evaluations.last(1).each do |student_evaluation| %>
          <% if student_evaluation.color_code === "green"%>
          <% green_code = green_code + 1 %>
          <% student_count = student_count + 1 %>
          <% elsif student_evaluation.color_code === "yellow" %>
          <% yellow_code = yellow_code + 1 %>
          <% student_count = student_count + 1 %>
          <% elsif student_evaluation.color_code === "red" %>
          <% red_code = red_code + 1 %>
          <% student_count = student_count + 1 %>

        <% end %>
      <% end %>
     <% end %>

      <% average_green = (green_code.fdiv(student_count)) * 100 %>
      <% average_yellow = (yellow_code.fdiv(student_count)) * 100 %>
      <% average_red = (red_code.fdiv(student_count)) * 100 %>

      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:<%= average_green %>%"></div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= average_yellow %>%"></div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:<%= average_red %>%"></div>
     </div>
     <div>
       <%= render 'random_pick' %>
     </div>

      <div class="panel-body text-center">
        <table style="width:400px" align="center">
        <% @batch.students.each do |student| %>
            <tr>
            <td><%= link_to image_tag(student.image_url,class: 'img-rounded',width: '100px', height: '100px'), batch_student_path(@batch, student)  %></td>
            <td><h3><%=link_to student.name, batch_student_path(@batch, student) %></h3></td>
             <td align="center">
               <h4>
            <% student.evaluations.last(1).each do |student_evaluation| %>
                <% if student_evaluation.color_code === "green"%>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(0,255,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>

                <% elsif student_evaluation.color_code === "yellow" %>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(255,204,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>

                <% elsif student_evaluation.color_code === "red" %>
                <svg width="40" height="30">
                <rect width="40" height="30" style="fill:rgb(255,0,0);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>

                <% else %>
                <p> Yet to add your progress.... </p>
                <% end %>

            <% end %>
          </h4>
          </td>

          <td><h4><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_batch_student_path(@batch, student) %>
          <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, batch_student_path(@batch, student),
          method: :delete, data: { confirm: "Are you sure?" } %></h4></td>

        </tr>

        <% end %>
      </table>



      </div>

      <div>
        <%= render 'form' %>
      </div>

    </div>

</div>
